
{% extends 'base.html' %}


{% block title %}{% if user %}Edit User{% else %}Create User{% endif %}{% endblock %}

{% block content %}
<h2>{% if user %}Edit User{% else %}Create User{% endif %}</h2>
<form method="POST" class="form-container">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="id_username">Username:</label>
        {{ form.username }}
    </div>

    <div class="form-group">
        <label for="id_email">Email:</label>
        {{ form.email }}
    </div>

    <div class="form-group">
        <label for="id_password1">Password:</label>
        {{ form.password1 }}
    </div>

    <div class="form-group">
        <label for="id_password2">Confirm Password:</label>
        {{ form.password2 }}
    </div>

    <div class="form-group">
        <button type="submit" class="btn">Save</button>
    </div>
</form>
{% endblock %}

